.pop{
  background-image: url(https://wallpapercave.com/wp/wp1879835.jpg);
}

.purple{
  background-color:#9370db;
}

.arial{
  font-family: fantasy;
  text-decoration: underline;
}

.yellow{
  background-color:#e7bd42;
}
